# IMAPP MODIS Atmospheric Profiles Configuration File
#
# This file contains input and output file information needed
# to run the Direct Broadcast MODIS atmospheric profiles software.
# Each file reference below consists of 2 or 3 entries: the file name,
# a header file name (if necessary) and file requirement
# (MANDATORY or OPTIONAL). The reference names on the left-hand side of
# the equal sign for each entry should be left untouched.
# The code is looking for these as they are shown. The right hand
# side of the equal sign should be changed to point to the correct
# directories/filenames for each data source.  If a file is
# labelled as OPTIONAL, this means that the code will still run
# without it.  You may delete the entire 2-3 line file reference if 
# you do not wish to use these optional files.
#
# This file can be manually edited to point to the correct files,
# or used as part of a processing script which can automatically
# modify the file. See the modis_profiles.csh script.

#---------------------------------
# Dynamic MODIS input files - All are MANDATORY
#---------------------------------

# MOD021KM image flat file
L1B_1KM_NAME=FIL1KM_IMG
L1B_1KM_HDR=FIL1KM_HDR
L1B_1KM_REQ=MANDATORY


# MOD03 geolocation flat file
GEO_1KM_NAME=FILGEO_IMG
GEO_1KM_HDR=FILGEO_HDR
GEO_1KM_REQ=MANDATORY


# MOD021KM metadata flat file
SCAN_1KM_NAME=FILMET_IMG
SCAN_1KM_HDR=FILMET_HDR
SCAN_1KM_REQ=MANDATORY

#---------------------------------
# Static Files All are MANDATORY
#---------------------------------

# Regression Coefficient Files
REG_COEF_NAME=REG_FILE
REG_COEF_REQ=MANDATORY

# View Angle File
VIEW_ANGLE_NAME=VAF_FILE
VIEW_ANGLE_REQ=MANDATORY

# Bias Correction File
BIAS_FILE_NAME=BIASFILE
BIAS_FILE_REQ=MANDATORY

# Detector Use File
DET_FILE_NAME=DETECTORFILE
DET_FILE_REQ=MANDATORY

#---------------------------------
# Dynamic ancillary input files - All are MANDATORY
#---------------------------------

# MODIS Cloud Mask file -  Cloud Mask
MOD35_MASK_NAME=MOD35_IMG
MOD35_MASK_HDR=MOD35_HDR
MOD35_MASK_REQ=MANDATORY

# NCEP GDAS1 (model profiles of temperature, humidity, ...) 
ANC_MET_NAME=NCEP_GDAS
ANC_MET_REQ=MANDATORY

#---------------------------------
# Dynamic MODIS output files  
#---------------------------------

# Output file: Atmospheric Profiles Binary
MOD07_NAME=MOD07.img
MOD07_HDR=MOD07.hdr
MOD07_REQ=MANDATORY

#---------------------------------
# Debugging options
#---------------------------------

#Debug file - Ouput file containing scene statistics.
DEBUG_NAME=profiles_debug.dat
DEBUG_REQ=MANDATORY

# Debug Switch (0=off, 1=on) Leave lower case and as the last entry in
# this file.
debug=1   
